{
    "extends": "standard",
    "globals": {
        "globalEkstepProxyBaseUrl": true
    },
    "rules": {
        "indent": ["error", 2],
        "max-len": ["error", 120, 2, {"ignoreUrls": true, "ignoreComments": true}],
        "quotes": ["error", "single"]
    }
}
